.article-content[b-qh1iez3yxd] {
    font-size: 0.9em;
}

.article-img[b-qh1iez3yxd] {
    float: left;
}

button[b-qh1iez3yxd] {
    padding-top: 4em;
    border: none;
    background: none;
    transition: transform .1s ease;
}

    button:focus[b-qh1iez3yxd] {
        outline: none;
        animation: btn-color-b-qh1iez3yxd 2s ease normal;
    }

@keyframes btn-color-b-qh1iez3yxd {
    0% {
        color: #808080;
    }

    100% {
        color: none;
    }
}

button:hover[b-qh1iez3yxd] {
    transform: scale(1.07);
}

svg[b-qh1iez3yxd] {
    padding-bottom: 0.2em;
}

.up-down-group[b-qh1iez3yxd] {
    width: 12em;
    text-align: center;
    vertical-align: middle
}

.btn-up[b-qh1iez3yxd] {
    display: inline-block;
    float: right;
}

.btn-down[b-qh1iez3yxd] {
    display: inline-block;
    float: right;
}

.article-results[b-qh1iez3yxd] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-content-msg[b-qh1iez3yxd] {
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
