.form-input-block[b-vxjr8mqqjo] {
    width: 30em;
    display: inline-block;
    float: left;
}

.reg-form[b-vxjr8mqqjo] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-input[b-vxjr8mqqjo] {
    width: 14em;
}

.sm-inline-input[b-vxjr8mqqjo] {
    display: inline-block;
    float: left;
}

.msg-invalid[b-vxjr8mqqjo] {
    font-size: 0.8em;
}