@using System.Net
@using System.IO
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json.Linq

@page "/Browse"

<div>
    <ul>
        @foreach(var a in articles)
        {
            <li class="article-thumbnail">
                <div>
                    <img src="@a.thumbail" title="@a.title" alt="miniaturka" width="250" height="250" class="img-thumbnail" />
                </div>
            </li>
        }
    </ul>
</div>

@code {
    //JArray articles = new();
    List<Article> articles = new();

    protected override async Task OnInitializedAsync()
    {
        // fetch json from api
        var url = "https://localhost:44392/article/recent";
        var httpClient = new HttpClient();
        var content = await httpClient.GetStringAsync(url);
        var temp = await Task.Run(() => JArray.Parse(content));
        articles = temp.ToObject<List<Article>>();
    }

    public class Article
    {
        public int id { get; set; }
        public DateTime creationDate { get; set; }
        public string title { get; set; }
        public string content { get; set; }
        public string thumbail { get; set; }
        public int upvotes { get; set; }
        public int downvotes { get; set; }
        public int viewCount { get; set; }
        public int userId { get; set; }
    }
}
