.create-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-block {
    width: 30em;
    display: inline-block;
    float: left;
}

.sm-input {
    width: 14em;
}

.sm-inline-input {
    display: inline-block;
    float: left;
}

.msg-invalid {
    font-size: 0.8em;
}
